body, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

.wrapper{
    padding: 0 15px;
}

.button{
    padding: 5px;
    text-transform: UPPERCASE;
    background-color: lightgreen;
    display: inline-block;
    margin: 5px 0;
}

#top-menu {
    list-style-type: none;
    background-color: lightgreen;
    margin-bottom: 20px;
}

#top-menu li{
    display:inline-block;
    padding: 20px 15px;
    font-size: 25px;
}

#top-menu a, #top-menu a:visited{
    text-decoration: none;
}

#top-menu li:hover, .button:hover{
    background-color: darkseagreen;
    cursor:pointer;
}

#top-menu a, #top-menu a:visited, body{
    color: maroon
}

th, td{
    padding: 15px;
    font-size: 15px;
}